<div class="container">
  <!-- <div class="row justify-content-center text-center">
      <div class="col-lg-12">
          <h2 class="font-300" >Overview</h2>
          <p class="text-muted mt-4 title-subtitle mx-auto">Working CRUD application for registering Customers and Partners, creating Backyards and scheduling Events.</p>
      </div>
  </div> -->
  <div class="timeline-page mt-8">
      <div class="timeline-item">
          <div class="row">
              <div class="col-lg-6">
                  <div class="duration date-label-left">
                      <img src="https://themesdesign.in/landsay/images/how-it-1.png" alt="" class="img-fluid">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="works works-description-right">
                      <h4>Creators and Code</h4>
                      <p class="timeline-subtitle">Brandon Vieira:     <a href=""> https://github.com/BrandonVieira-C</a></p>
                      <p class="timeline-subtitle">Garen Goh:          <a href="">https://github.com/garengh4</a></p>                             
                      <p class="timeline-subtitle">The code: <a href="">https://github.com/BrandonVieira-C/BackyardWeddingApp</a></p>
                  </div>
              </div>
          </div>
      </div>

      <div class="timeline-item">
          <div class="row">
              <div class="col-lg-6">
                  <div class="works works-description-left">
                      <h4>About</h4>
                      <p class="timeline-subtitle">On this app, every day people can rent out their backyards to others as intimate, inexpensive wedding venues. Similar to how one would rent out their living space on AirBnB.</p>                         

                      
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="duration duration-right ">
                              <img src="https://themesdesign.in/landsay/images/how-it-2.png" alt="" class="img-fluid">
                  </div>
              </div>
          </div>
      </div>
      <div class="timeline-item">
          <div class="row">
              <div class="col-lg-6">
                  <div class="duration date-label-left">
                          <img src="https://themesdesign.in/landsay/images/how-it-3.png" alt="" class="img-fluid">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="works works-description-right">
                      <h4>Frontend</h4>
                      <p class="timeline-subtitle">Built with Angular. Deployed on AWS S3.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="timeline-item">
          <div class="row">
              <div class="col-lg-6">
                  <div class="works works-description-left">
                      <h4>Backend</h4>
                      <p class="timeline-subtitle">Powered by Java with Maven - Spring Boot. Deployed on AWS Elastic Beanstalk.</p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="duration duration-right ">
                              <img src="https://themesdesign.in/landsay/images/how-it-2.png" alt="" class="img-fluid">
                  </div>
              </div>
          </div>
      </div>
      <div class="timeline-item">
          <div class="row">
              <div class="col-lg-6">
                  <div class="duration date-label-left">
                          <img src="https://themesdesign.in/landsay/images/how-it-3.png" alt="" class="img-fluid">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="works works-description-right">
                      <h4>Database</h4>
                      <p class="timeline-subtitle">MySQL database hosted on AWS RDS. Includes Customer, Partner, Backyard and Event tables, where a Customer and Backyard can have many events respectively, and a Partner can have many Backyards.</p>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>